@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
body {
	margin-top:auto!important;
	padding:0!important;
}
h1{
	font-size:300%;
	line-height:1.5;
}
#gameCanvas {
	float:left;
}
#canvas {
	border: 1px solid #000;
	background: url(../img/kyoushitsu.jpeg) center center no-repeat;
	background-size: cover;
}
#sidebar {
	width: 240px;
	float: left;
	border: 1px solid #000;
}
.micGainFxEmu {
	height: 100px;
	background: #ccc;
	border: 1px solid #000;
	margin: 5px;
	padding: 5px;
	font-size: 14px;
}


